

.brands{
  margin-bottom: 100px;
  max-width: 1400px !important;
}
.brandsLink{
  display: flex;
  flex-direction: column;
  max-width: 145px;
  margin: 0 auto;
}
.brandsImg{
  width: 100px;
  height: 100px;
  margin-left: 40px;
}
.brandsTitle{
  font-size: 20px;
  color: rgb(118, 113, 113);
  display: flex;
  justify-content: center;
  transition: all ease .3s;
  margin-left: 30px;
}
.brandsTitle:hover{
  color: #000;
}
.slider{
  margin-left: 40px;
}
:root {
  --swiper-theme-color: #000 !important; 
}
.swiper-button-next{
  right: 0 !important;
}