.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}
.logo{
  display: block;
  margin-right: 30px;
}
.logo__img{
  display: inline-block;
  width: 70px;
  height: 60px;
}
.inner{
  display: flex;
  justify-content: space-between;
}
.navigation{
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}
.categories{

}
.categories__name{
  margin-right: 35px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  position: relative;
  transition: all .5s;
  text-transform: uppercase;
}
.categories__name:hover{
  font-size: 19px;
  border-bottom: 1px solid black;
  border-radius: 10%;
}
.icons{
  display: flex;
  margin-top: 20px;
}
.icon__logo{
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  height: 23px;
  width: 23px;
  transition: all ease .5s;
}
.icon__logo:hover{
  width: 25px;
  height: 25px;
}