.footer{
  max-width: 1280px;
  margin: 0 auto;
}
.footerBg{
  background-color: rgba(97, 44, 181, 0.428);
  padding-top: 50px;
  padding-bottom: 50px;
}
.footerInner{
  display: flex;
  justify-content: space-between;
}
.footerTitle{
  font-size: 20px;
}
.footerText{
  display: block;
  font-size: 19px;
  margin-bottom: 10px;
  transition: all ease .3s;
}
.footerText:hover{
  color: beige;
}